@using FlowerServiceLibrary;
@{
    ViewData["Title"] = "Index";
}

<h1>Список цветов</h1>

<div class="container">
    <div class="list-group">
        @if (((IEnumerable<Flower>)ViewBag.Flowers).Count() == 0)
        {
            <div class="list-group-item clearfix">
                <h3 class="text-danger"> Цветы отсутствуют</h3>
            </div>
        }
        else
        {
            foreach (Flower flower in ViewBag.Flowers)
            {
                <div class="list-group-item">
                    @flower.Name

                    <span class="float-right">
                        <a asp-action="Details" asp-route-id="@flower.Id" class="btn btn-info">Подробности</a>
                        <a asp-action="Edit" asp-route-id="@flower.Id" class="btn btn-primary">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@flower.Id" onclick="return confirm('Вы действительно хотите удалить цветок ?')" }) class="btn btn-danger">Удалить</a>              
                    </span>
                </div>
            }
        }
        <div class="list-group-item">
            <a asp-action="Create" class="btn btn-success">Добавить</a>
        </div>
    </div>
</div>

