@model FlowerServiceLibrary.PlantationFlower

@{
    ViewData["Title"] = "FlowerEdit";
}

<h1>FlowerEdit</h1>

<h4>PlantationFlower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FlowerEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FlowerId" class="control-label"></label>
                <select asp-for="FlowerId" asp-items="@ViewBag.Flowers" class="form-control"></select>
                <span asp-validation-for="FlowerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.PlaceId" class="btn btn-danger">Назад</a>
                <input type="submit" value="Редактировать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


